@using Patterns.UnitOW.Entities
@model IEnumerable<Beer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        @foreach(var beer in Model){
           <p>@beer.BeerId -</p>  <p>@beer.Name</p>
        }
    </div>
</div>
